
@import url('https://fonts.googleapis.com/css2?family=Fragment+Mono&family=Inter:wght@300;400;500;600;700&family=Playfair+Display:wght@400;500;600;700;800;900&family=Roboto+Slab:wght@200;300;400;500;700;900&display=swap');


.App {
  text-align: center;
}



.App {
  /* background-color: #fefbf2; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  /* font-size: calc(10px + 1.5vmin); */
  color: black;
  
  text-align: left;
}



.title{
  /* font-weight:  bolder; */
  font-family: 'Roboto Slab';
  font-weight: 900;
  /* letter-spacing: 2px; */


}

.subtitle{
  font-family: 'Inter';
  /* font-weight: bold; */
  /* letter-spacing: 1em; */
}

/* .cusButton{
  
} */


.card-subtitle{
  font-family: 'Fragment Mono';
}

.App-link {
  color: #61dafb;
}

.body-text{
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: calc(10px+.3vmin);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.card{
  position:relative;
}

.icon{
  transition: transform .3s ease-in-out;
}
.icon:hover{
  transform: rotate(45deg);
  cursor: pointer;

}

.plus-icon{
  position:absolute;
  right: 15px;
  bottom: 15px;
  transition: transform .2s ease-in-out;
}
.plus-icon:hover{
  transform: rotate(45deg);
  cursor: pointer;
}


.vertical-line{
  position:relative;
  left:50px;


}
.border{
  position:relative;
}

.right-box{
  position:absolute;
  right: -3px;
  top:-3px;
  width:4vw;
  /* min-height: 200px ; */
  background-color: #689581;
}

.bottom-box{
  position:absolute;
  bottom:-3px;
  left:-3px;
  height: 4vw;
  background-color: #ACBC8A;
  
}

.vertical-line{
  margin-top: 2vh;
  height: 100px;
  border-left:#000000 2px solid;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f100; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.0); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
