@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Cooper";
  src: url("../public/fonts/cooper_medium_bt.ttf");
}


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.App {
  text-align: center;
}



*:focus {
  outline: var(--projcolor) auto 3px;
}

::-webkit-scrollbar {
  display: none;
}


/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: left;
  overflow: hidden;
}

.header {
  font-family: 'Cooper';
  letter-spacing: 1.5px;

}



.subtitle {
  font-family: 'Inter';
  /* font-weight: medium; */
  letter-spacing: '1px';
}

.body-text {
  font-family: 'IBM Plex Mono';
}


a:hover {
  text-decoration: underline;
}

.nav:hover{
  display:flex;
  transform: translate(20px);
  /* border-bottom:2px solid white; */
}
.image-container {
  position: relative;
  display: inline-block;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 192, 203, 0); /* Pink color with transparency */
  transition: background-color 0.3s ease; /* Transition effect */
  opacity: 0; /* Initially hidden */
}

.image-container:hover .overlay {
  background-color: #C2A7F7; /* Pink color with higher opacity on hover */
  opacity: 1; /* Show the overlay on hover */
}

.overlay p {
  color: #F8F8F2; /* Text color */
  text-align: center;
}



.custom-modal {
  transition: opacity 0.25s ease;
  max-height: "1005px";
  max-width: "5rem";
  padding:20px; 
  

}
.modal-wrapper{
  width:90%;
  height:100%;
}


@media screen and  (min-width:1024px) {
  .modal-wrapper{
    position:fixed;
    width: 50%;
    height:100%;
    margin: 20px auto;
  }
  
}
body { margin: 0; }

.ticker-wrap {
  margin: 0 auto;
  overflow: hidden;
  white-space: nowrap;
  height: 3.5rem; 
}
.ticker {
  margin-top: 5px;
  animation: marquee 55s linear infinite;
}
.item-collection-1 {
  position: relative;
  left: 0%;
  animation: swap 55s linear infinite;
}

.item {
  display: inline-block;
  padding: 0 1rem;
}

/* Transition */
@keyframes marquee {
  0% {
    transform: translateX(0)
  }
  100% {
    transform: translateX(-100%)
  }
}

@keyframes swap {
  0%, 50% {
    left: 0%;
  }
  50.01%,
  100% {
    left: 100%;
  }
}
